@charset "UTF-8";

/* Winning Celebration */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.overlay .lottie-celebration {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 576px) {
  .overlay {
    padding-top: 70%;
  }

  .overlay .lottie-celebration {
    width: 100% !important;
    height: 100% !important;
  }
}