@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  color: #4c6986;
}

.wrapper {
  height: 600px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper .left,
.wrapper .right {
  width: 50%;
}

.wrapper .right {
  display: flex;
  justify-content: center;
}

/* || Left Section */
.title h1 {
  font-size: 50px;
}

.title span {
  color: #22a157;
  font-family: "Josefin Sans", sans-serif;
}

.title img {
  width: 120px;
}

.restart {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #4c6986;
  border-radius: 50px;
  color: #4c6986;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.6px;
  font-weight: bold;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.restart:hover {
  color: white;
  background-color: #4c6986;
  cursor: pointer;
}

/* || Game Section */
.game {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.header .player-x,
.header .player-o {
  flex: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: center;
  color: #9a9a9a;
  border-bottom: 3.5px solid #eee;
  padding-bottom: 8px;
  font-family: 'Dancing Script', cursive;
}

.header .player-x.active {
  color: #42bed7;
  border-color: #42bed7;
}

.header .player-o.active {
  color: #d7bafb;
  border-color: #d7bafb;
}

.board {
  /* fr is stands for Fractions */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  flex-grow: 1;
  padding: 10px;
  margin-top: 20px;
}

.board .board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  background-color: transparent;
  height: 100px;
  font-family: 'Pacifico', cursive;
}

.board .board-tile:hover {
  background: #eee;
  cursor: pointer;
}

.board .board-tile:not(:nth-child(3n)) {
  border-right: 2.5px solid rgba(137, 163, 189, 0.5);
}

.board .board-tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 2.5px solid rgba(137, 163, 189, 0.5);
}

.tile-x {
  color: #42bed7;
}

.tile-o {
  color: #d7bafb;
}

.tile-winner span {
  color: #23ce6b;
  font-weight: bold;
}

.who-winner {
  text-align: center;
  margin-top: 10px;
  font-family: 'Acme', sans-serif;
  letter-spacing: 1px;
}

.who-winner span {
  color: #23ce6b;
  letter-spacing: 2.5px;
}

.empty-box {
  height: 15px;
  color: transparent;
}

@media screen and (min-width: 1200px) {
  .wrapper .left {
    padding-left: 6%;
  }
}

@media screen and (max-width: 990px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }

  .wrapper .left {
    text-align: center;
  }

  .title h1 {
    font-size: 55px;
  }

  .restart-box {
    display: flex;
    justify-content: center;
    font-size: large;
  }

  .restart {
    width: 250px;
  }

  .wrapper .left,
  .wrapper .right {
    margin-top: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .game {
    width: 300px;
    height: 300px;
  }

  .board .board-tile {
    height: 90px;
    font-size: 50px;
  }

  .wrapper .left {
    margin-top: 40px;
    padding: 2px 5px;
  }

  .title h1 {
    font-size: 35px;
  }

  .title img {
    width: 150px;
  }

  .restart {
    font-size: medium;
    margin-top: 15px;
    width: 230px;
  }

  .header .player-x,
  .header .player-o {
    font-size: 23px;
  }
}

